<h1>Home</h1>
  <%= link_to 'Designer Jobs', des_jobs_path %>
  <%= link_to 'Developer Jobs', dev_jobs_path %>
  <%= link_to 'Designers Available', designers_path %>
  <%= link_to 'Developers Available', developers_path %>